.blog-crud-button {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.625rem 1.25rem;
    font-size: 1.25rem;
}

.blog-crud-button:first-child {
    margin-right: 0.625rem;
}

.blog-crud-button:first-child:hover {
    background: green;
}

.blog-crud-button:nth-child(2):hover {
    background: red;
}