.main-personalinfo-form-wrapper {
    width: 50%;
    margin: auto;
}

.main-personalinfo-form-heading {
    text-align: center;
}

.main-personalinfo-form {
    display: flex;
    flex-direction: column;
}