input[type=text], input[type=password], input[type=tel], input[type=date] {
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=date]:focus {
    border-bottom: 1px solid black;
}

input[type=submit] {
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
}

form input {
    padding: 10px;
}

form label {
    color: gray;
    padding: 10px;
}