input[type=text], input[type=password], input[type=tel], input[type=date] {
    border: none;
    outline: none;
    border-bottom: 0.063rem solid lightgray;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=date]:focus {
    border-bottom: 0.063rem solid black;
}

input[type=submit] {
    margin-top: 1.25rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0.938rem;
}

form input {
    padding: 0.625rem;
}

form label {
    color: gray;
    padding: 0.625rem;
}

.pagination {
    list-style: none;
    display: flex;
    padding: 1.25rem;
    cursor: pointer;
    border: 0.063rem solid gray;
    justify-content: center;
}

.pagination li {
    padding: 0.625rem;
    margin-right: 0.313rem;
    color: black;
    user-select: none;
}

.pagination li:hover {
    background-color: lightgray;
}

.pagination li a {
    outline: none;
}

.pagination-link-active {
    background-color: lightgray;
}

.pagination .pagination-link-disabled:hover {
    background-color: white;
}

.pagination-link-disabled a{
    color: lightgray;
}

@media only screen and (max-width: 650px) {
    .pagination .next, .pagination .previous{
        display: none;
    }
}