input[type=text], input[type=password], input[type=tel], input[type=date] {
    border: none;
    outline: none;
    border-bottom: 0.063rem solid lightgray;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=date]:focus {
    border-bottom: 0.063rem solid black;
}

input[type=submit] {
    margin-top: 1.25rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 0.938rem;
}

form input {
    padding: 0.625rem;
}

form label {
    color: gray;
    padding: 0.625rem;
}