.header-navigation-list {
    list-style: none;
    display: flex;
}

.header-navigation-list-item {
    padding: 0.625rem;
}

.header-navigation-list-item:hover {
    background-color: lightgray;
    border-radius: 0.625rem;
}

.header-navigation-list-item-a {
    color: grey;
    text-decoration: none;
    font-size: 1.125rem;
}

.header-navigation-list-item-a.active {
    border-bottom: 0.188rem solid black;
}