.header-navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 120px;
}

.header-navigation-list-item {
    padding: 10px;
}

.header-navigation-list-item:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.header-navigation-list-item-a {
    color: grey;
    text-decoration: none;
    font-size: 18px;
}

.header-navigation-list-item-a.active {
    border-bottom: 3px solid black;
}