.main-blog-crud {
    width: 50%;
    margin: auto;
}

.main-blog-crud-heading {
    text-align: center;
}

.main-blog-crud-form {
    display: flex;
    flex-direction: column;
}

.main-blog-crud-form-upload-image-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-blog-crud-form-upload-image-label-wrapper {
    width: 30%;
    margin: 50px 0 50px 0;
}

.main-blog-crud-form-upload-image {
    width: 350px;
    height: 300px;
    margin-top: 15px;
}

.main-blog-crud-form-upload-image-label {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    border-radius: 10px;
    cursor: pointer;
}

.main-blog-crud-form-upload-image-label img{
    width: 30px;
    margin-right: 10px;
}

.main-blog-crud-form hr {
    width: 100%;
    background-color: lightgrey;
}

.main-blog-crud-form input[type=file] {
    display: none;
}