.header-navigation-profile-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.header-navigation-profile-img {
    width: 30px;
    cursor: pointer;
}

.header-navigation-profile-info {
    display: flex;
}

.header-navigation-profile-info-truncate {
    width: 172px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-navigation-profile-info-line {
    height: 1px;
    width: 238px;
    position: absolute;
    right: 0;
    background: lightgray;
}

.header-navigation-profile-info img {
    width: 30px;
    margin-right: 5px;
}

.header-navigation-profile-info article {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.header-navigation-profile-list-wrapper {
    z-index: 10;
    position: absolute;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(211, 211, 211, 1);
    box-shadow: 0px 0px 2px 1px rgba(211, 211, 211, 1);
    background-color: white;
    top: 45px;
    right: -106px;
    padding: 20px 20px 0 20px;
    width: 200px;
}

.header-navigation-profile-list {
    list-style: none;
    text-align: center;
    padding: 10px;
}

.header-navigation-profile-list-triangle {
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    right: 111px;
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(211, 211, 211, 1);
    box-shadow: 0px 0px 2px 1px rgba(211, 211, 211, 1);
    background-color: white;
}

.header-navigation-profile-list-item {
    padding: 10px;
}

.header-navigation-profile-list-item-a {
    text-decoration: none;
    color: gray;
}

.header-navigation-profile-list-item:hover {
    background-color: lightgray;
    border-radius: 10px;
}