.header-navigation-profile-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.header-navigation-profile-img {
    width: 1.875rem;
    cursor: pointer;
}

.header-navigation-profile-info {
    display: flex;
}

.header-navigation-profile-info-truncate {
    width: 10.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-navigation-profile-info-line {
    height: 0.063rem;
    width: 12.5rem;
    position: absolute;
    right: 0;
    background: lightgray;
}

.header-navigation-profile-info img {
    width: 1.875rem;
    margin-right: 0.313rem;
}

.header-navigation-profile-info article {
    margin-left: 0.625rem;
    display: flex;
    flex-direction: column;
}

.header-navigation-profile-list-wrapper {
    z-index: 10;
    position: absolute;
    -webkit-box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
    box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
    background-color: white;
    top: 2.813rem;
    right: -5.188rem;
    padding: 1.25rem 1.25rem 0 1.25rem;
    width: 12.5rem;
}

.header-navigation-profile-list {
    list-style: none;
    text-align: center;
    padding: 0.625rem;
}

.header-navigation-profile-list-triangle {
    transform: rotate(45deg);
    position: absolute;
    top: -0.625rem;
    right: 5.5rem;
    width: 1.25rem;
    height: 1.25rem;
    -webkit-box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
    box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
    background-color: white;
}

.header-navigation-profile-list-item {
    padding: 0.625rem;
}

.header-navigation-profile-list-item-a {
    text-decoration: none;
    color: gray;
}

.header-navigation-profile-list-item:hover {
    background-color: lightgray;
    border-radius: 0.625rem;
}

@media only screen and (max-width: 900px) {
    .header-navigation-profile-list-wrapper {
        right: 1rem;
        top: 2rem;
    }

    .header-navigation-profile-list-triangle {
        display: none;
    }
}