.main-blogs-section {
    width: 80%;
    margin: auto;
    position: relative;
}

.main-blogs-section .scroll-to-top {
    position: fixed;
    right: 3%;
    bottom: 1%;
}

.main-blogs-section .scroll-to-top-img {
    width: 60px;
}

@media only screen and (max-width: 1200px) {
    .main-blogs-section {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .scroll-to-top-img {
        background: white;
        border-radius: 100%;
    }
}