.main-blogs-section {
    width: 80%;
    margin: auto;
    position: relative;
}

.main-blogs-section .scroll-to-top {
    position: fixed;
    right: 3%;
    bottom: 1%;
}

.main-blogs-section .scroll-to-top-img {
    width: 60px;
}

.main-blogs-section-greeting {
    text-align: center;
    animation: pulseGrowing 2s ease-in infinite alternate;
}

@keyframes pulseGrowing {
    0% {
        font-size: 20px;
    }

    100% {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .main-blogs-section {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .scroll-to-top-img {
        background: white;
        border-radius: 100%;
    }
}
