.main-blog-article {
    display: flex;
    align-items: center;
    height: 150px;
    cursor: pointer;
    padding: 20px 0 20px 0;
}

.main-blog-article-content {
    width: 60%;
    margin-right: 50px;
}

.truncate{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-blog-article-author-info {
    display: flex;
    justify-content: space-between;
}

.main-blog-article-author {
    width: 40%;
}

.main-blog-article-image-wrapper {
    width: 20%;
    max-width: 20%;
}

.main-blog-article-image {
    width: 100%;
    height: 100px;
}