.header {
    border-bottom: 1px solid black;
}

.header-navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}

.header-navigation-logo-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-navigation-logo-list-item:first-child {
    margin-right: 100px;
}

.header-navigation-logo-wrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-navigation-logo-wrapper img {
    width: 40px;
    margin-right: 7px;
    font-weight: bold;
    background-color: lightgray;
}

.header-navigation-logo-wrapper span {
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.header-navigation-right {
    display: flex;
}