.header-navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation-logo-wrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-navigation-logo-wrapper img {
    width: 30px;
    margin-right: 7px;
    font-weight: bold;
    background-color: lightgray;
}

.header-navigation-logo-wrapper span {
    font-weight: bold;
    font-size: 22px;
    color: black;
}