.main-yourblogs-section {
    width: 80%;
    margin: auto;
}

.main-yourblogs-noblogs {
    text-align: center;
}

.main-yourblogs-noblogs-create {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}