.main-yourblogs-section {
    width: 80%;
    margin: auto;
}

.main-yourblogs-noblogs {
    text-align: center;
}

.main-yourblogs-noblogs-create {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .main-yourblogs-section {
        width: 100%;
    }
}