.main-blog-details-comments-section-write-comment {
    margin-top: 2rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.main-blog-details-comments-section-write-comment textarea {
    flex-grow: 1;
    margin-right: 0.5rem;
    resize: none;
    border: none;
    outline: none;
    padding: 1rem 0 0 0.5rem;
    border-bottom: 1px solid #000;
}

.main-blog-details-comments-section-write-comment img {
    width: 1.2rem;
    cursor: pointer;
}