.main-blog-details-comments-section .comments .comment {
    background-color: lightgray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    border: solid;
}

.main-blog-details-comments-section .comments .comment .author {
    font-weight: bold;
}

.main-blog-details-comments-section .comments .comment .content {
    font-style: italic;
    letter-spacing: 0.1rem;
}

.main-blog-details-comments-section .comments .comment .date {
    text-align: right;
}