.login-form-heading {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
}

.login-form * {
    padding: 10px;
}

.login-form input[type=submit] {
    margin-top: 20px;
    border: none;
    background-color: black;
    color: white;
}