.main-profile-settings-menu {
    width: 25%;
    padding-right: 1rem;
}

.main-profile-settings-menu-img {
    width: 2rem;
    cursor: pointer;
    display: none;
}

.main-profile-settings-menu-list {
    list-style: none;
    text-align: center;
    padding: 0.625rem;
    background-color: white;
    -webkit-box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
    box-shadow: 0 0 0.125rem 0.063rem rgba(211, 211, 211, 1);
}

.main-profile-settings-menu-list-item {
    padding: 0.625rem;
}

.main-profile-settings-menu-list-item:hover {
    background-color: lightgray;
    border-radius: 0.625rem;
}

.main-profile-settings-menu-list-item-a {
    text-decoration: none;
    color: gray;
}

.main-profile-settings-menu-list-item-a.active {
    border-bottom: 0.188rem solid black;
    padding-bottom: 0.125rem;
}

@media only screen and (max-width: 650px) {
    .main-profile-settings-menu {
        position: absolute;
        top: 0.2rem;   
        width: 100%;
        z-index: 1;
    }

    .main-profile-settings-menu-img {
        display: initial;
    }
}